.footer {
  background-color: #fff;
  padding: 120px 210px 100px;

  @media (max-width: 1400px) {
    padding: 100px 110px 60px;
  }

  @media (max-width: 1200px) {
    padding: 40px 80px;
  }

  @media (max-width: 1200px) {
    padding: 30px;
  }

  &__top {
    margin-bottom: 130px;
    display: flex;
    gap: 50px;
    justify-content: space-between;

    @media (min-width: 2000px) {
      width: 1600px;
      margin: 0 auto;
    }

    @media (max-width: 1400px) {
      margin-bottom: 40px;
    }

    @media (max-width: 1200px) {
      flex-direction: column;
      margin-bottom: 60px;
    }
  }

  &__logo {
    @media (max-width: 1200px) {
      transform: scale(0.8);
    }
  }

  &__top-left {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, auto);

    @media (max-width: 720px) {
      grid-template-columns: 1fr;
    }
  }

  &__general {
    width: 310px;

    @media (max-width: 720px) {
      width: 260px;
    }
  }

  &__contacts {
    display: none;

    @media (max-width: 1200px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      justify-self: flex-end;
    }

    @media (max-width: 720px) {
      justify-self: center;
    }
  }

  &__phone {
    font-size: 16px;
    margin-bottom: 30px;
    text-align: center;

    @media (max-width: 720px) {
      display: flex;
      font-size: 12px;
      height: 48px;
      margin: 30px 0 0;
      align-self: center;
      text-align: center;
      order: 1;
    }
  }

  &__button.button {
    background-color: #f0f2f6;
    box-shadow: 0 2px 4px rgba(240, 242, 246, 0.05);
    border: 1px solid #f0f2f6;
    @include hover (border, 1px solid $colorHover);

    & .button__text {
      color: $colorText;
    }
  }

  &__top-right {
    display: flex;
    gap: 120px;
    justify-content: space-between;

    @media (max-width: 1200px) {
      gap: 20px;
      flex-direction: column;
    }

    @media (max-width: 1200px) {
      gap: 20px;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__heading {
    margin-top: 0;

    @media (max-width: 1200px) {
      margin-bottom: 18px;
    }
  }

  &__nav--1,
  &__nav--2 {

    .nav__list {
      flex-direction: column;
      width: auto;
      margin-bottom: 30px;
    }

    .nav__item {
      display: block;
      line-height: 48px;
    }

    .nav__link {
      @media (max-width: 1200px) {
        line-height: 48px;
        padding: 0;
      }
    }
  }

  &__resources {
    flex-direction: column;

    @media (max-width: 720px) {
      line-height: 48px;
    }
  }

  &__icon {
    padding: 14px;
    // margin-right: 16px;
    @include hover (transform, scale(1.1));
  }

  &__link {
    display: block;
    margin: 20px auto;

    @media (max-width: 1200px) {
      line-height: 1.2;
      margin: 14px auto;
    }

    @media (max-width: 720px) {
      font-size: 14px;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;

    @media (min-width: 2000px) {
      width: 1600px;
      margin: 0 auto;
    }

    @media (max-width: 720px) {
      flex-direction: column;
    }
  }

  &__copyright {
    font-size: 14px;
    color: rgba(69, 88, 128, 0.5);
  }

  &__bottom-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }

  &__bottom-link {
    font-size: 14px;

    @media (min-width: 1920px) {
      font-size: 16px;
    }

    @media (max-width: 720px) {
      font-size: 12px;
      line-height: 48px;
    }
  }
}
